version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: football-postgres
    restart: always
    environment:
      POSTGRES_DB: football
      POSTGRES_USER: football
      POSTGRES_PASSWORD: football
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
