spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true

  sql:
    init:
      mode: never

security:
  jwt:
    secret: c3f9a1d4b7e28fa94c3d2b6e7f1a9d0c4f7e3b2a1c8d9e0f3a2c1b7d4e9f6a3
