spring:
  datasource:
    url: jdbc:h2:mem:football
    username: sa
    password:
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false

football:
  api:
    key: dummy-key-for-tests
    base-url: https://example.com