football:
  api:
    key: dummy-key-for-tests
    base-url: https://example.com

spring:
  datasource:
    url: jdbc:h2:mem:football
    #driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
